.App {
  text-align: center;
}

.bottom-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 15px 50px 15px;
  justify-content: "space-between";
}

.navbar{
  height: 60px;
  background-color: #455889;
}